label {
    cursor: pointer;
    filter: grayscale(100%);
  }
  
  label:hover {
    filter: grayscale(0);
  }
  input[type="radio"]:checked + label {
    filter: grayscale(0);
  }

  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }